#
.EosLog
*/.EosLog
*/*/.EosLog
*/*/*/.EosLog
*/*/*/*/.EosLog
*/*/*/*/*/.EosLog
*/*/*/*/*/*/.EosLog
*/*/*/*/*/*/*/.EosLog

src/Objects/*/*/doc/*.orig
#src/*/.Source
#src/*/*/.Source

# Test
src/Tools/Test/

# hostdepend
hostdepend/OTHERS/
hostdepend/X86MAC64/
hostdepend/ARC86MAC64/
hostdepend/X86LINUX64/
hostdepend/X86LINUX64ICC/
hostdepend/ALPHA/
hostdepend/ALPHALINUX/
hostdepend/ALPHALINUX5/
hostdepend/ALPHAOSF1/
hostdepend/ARM64MAC64/
hostdepend/CELLLINUX64/
hostdepend/HP/
hostdepend/I386LINUX/
hostdepend/I686LINUX/
hostdepend/SGI/
hostdepend/SPARC/
hostdepend/X86LINUX64/
hostdepend/X86MAC64/

#
*.o
*.debugo
*.debug
*.orig
*.orig*

#
bin/wish/Display2/tclIndex
bin/wish/*/tclIndex
*/*/*/*/tclIndex
*/*/*/tclIndex
*/*/tclIndex
*/tclIndex

#util
util/src.org/
util/ARM64MAC64

#
data/
.acmlg/
PrevReleased/
backup/
database/
distribute/
optional/
others/
others2/
tutorial/
zephyr/
pione/
log/

#
*/*/*/*/*/*/*/tclIndex
*/*/*/*/*/*/tclIndex
*/*/*/*/*/tclIndex
*/*/*/*/tclIndex
*/*/*/tclIndex
*/*/tclIndex
*/tclIndex

#
#
*.tgz
*.tar.gz
*.gz

#
#
*~
.DS_Store
